
/* Position the button group vertically centered on the left side of the page */
#navigation-group-button {
    position: fixed;
    top: 50%;
    /* Start at the vertical center of the page */
    left: 20px;
    /* Space from the left edge of the page */
    transform: translateY(-50%);
    /* Shift upwards by half its own height to center */
    display: flex;
    flex-direction: column;
    text-align: center;
  
    align-items: flex-start;
    /* Align buttons to the left */
    z-index: 1000;
  }

  