/************************ ELEMENTS ************************/

body{
  background-color: #14908E;
}

h2 {
  color: #37BFAE;
  font-size: x-large;
  font-weight: 700;
}



ul {
  list-style-type: none;
}

/*********************** CLASSES ************************/

.area {
  display: flex;
  flex-direction: column;
  /* Align children vertically */
  align-items: center;
}

.area h1 {
  margin-top: 0px;
  width: 100%;
  text-align: center;
}

/* .badge {
  transform: rotate(10deg);
} */

.buttons-container {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
  margin: 5px;
}

.container {
  background-color: white;
  width: 100%;
  border-radius: 10px;
  text-align: center;
}

.drag-area {
  align-items: center;
  border: 3px dashed #14908E;
  border-radius: 10px;
  background-color: yellow;
  opacity: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 30px;
  height: 222px;
  margin: 20px 5px 13px 5px;
}

.drag-area:hover {
  background-color: #14908E;
}

.grid-container {
  display: grid;
  grid-template-columns: 35% 30% 35%;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  padding: 10px;
  font-size: 30px;
  text-align: center;
  width: 100%;
}

.logo {
  padding: 10px;
}

.logo img {
  height: 192px;
}

/************************ IDS ************************/

#area-start {
  background-color: #14908E;
}

#start-container{
  background-color: #14908E;
}

#area-roadmap {
  background-color: #37BFAE;
}

#area-roadmap div#area-roadmap ul, div#area-roadmap li {
    text-align: left;
    font-size: large;
}

#area-roadmap, div#area-roadmap h3 {
    text-align: left;
}

#area-contact {
  background-color: #B7AA67;
  height: 1000px;
}

#area-dsgvo {
  background-color: #B2735B;
  height: 1000px;
}

#stepper-container {
  width: 100%;
  height: 260px;
  margin-bottom: 256px;
  padding-top: 32px;
}

#stepper-button-select{
  margin-left: 8px;
}

#stepper-form-select{
  align-items: center;
  display: flex;
  margin-top: 7px;
}

#logo-container {
  height: 256px;
  border-radius: 10px;
}

#restartForm {
  padding-right: 8px;
  width: 50% !important;
}

#downloadForm {
  padding-left: 8px;
  width: 50% !important;
}

#drop-zone-text {
  pointer-events: none;
}

#dnd-button-restart, #dnd-button-save{
  width: 100%;
  margin-bottom: 15px;
}


/* Position the button group vertically centered on the left side of the page */
#navigation-group-button {
  position: fixed;
  top: 50%;
  /* Start at the vertical center of the page */
  left: 20px;
  /* Space from the left edge of the page */
  transform: translateY(-50%);
  /* Shift upwards by half its own height to center */
  display: flex;
  flex-direction: column;
  text-align: center;

  align-items: flex-start;
  /* Align buttons to the left */
  z-index: 1000;
}

